node_modules
dist
!packages/sdk/runtime-local/dist/
!packages/sdk/runtime-local/dist/promise.js
!packages/sdk/runtime-local/dist/emscripten-module.wasm
docs/api
.turbo
.DS_Store
*.log
.env
.env.*
!.env.example
!apps/harbor-backend/.env.dev.example
!apps/harbor-backend/.env.staging.example
.harbor/
